{% extends 'base.html' %}

{% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">


{% block title %}

  IP Address Location Check 

{% endblock title %}

{% block body %}


  <h1 class="hello"> IP Address Location Check</h1>

  <div class="container py-5">
<center>
<form action="iplocation" method="post">
    

  <button type="submit" class="btn login_btn" name="IP"  onclick="myFunction()">Start</button>
  
  {% csrf_token %}
</form>


<br>
<div id="myDIV" style="display:none;">
<div id"j" align="center"></div>
<div id="logos">	<span class="speedometer"></span>
  <span class="needle"></span>
</center>
</div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display == "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% endblock body %}

