{% extends 'base.html' %}


{% block title %}

  Sign up 

{% endblock title %}


{% block body %}

<div class="container my-5" style="width:40%;">
<form action="" method="POST">
{% csrf_token %}

  <div class="form-group" > 
    <label>Username<span style="color:red;">*</span></label>
    {{ frm.username }}    
    {{ frm.username.errors }}
  </div>
      <div class="form-group">
    <label>First Name<span style="color:red;">*</span></label>
          {{ frm.first_name }}    
    </div>
     <div class="form-group">
    <label>Last Name<span style="color:red;">*</span></label>
          {{ frm.last_name }}    
    </div>
    <div class="form-group">
    <label >Email ID <span style="color:red;">*</span></label>
          {{ frm.email }}    
          {{ frm.email.errors }}

    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label >Password<span style="color:red;">*</span></label>
          {{ frm.password }}
          {{ frm.password.errors }}


  </div>
  <div class="form-group">
    <label >Confirm Password <span style="color:red;">*</span></label>
      {{ frm.confirm_password }}  
      {{ frm.confirm_password.errors }}

  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
</div>
{% endblock body %}
